<div
  *ngIf="isLoading"
  id="loading-screen"
  class="fixed inset-0 bg-gray-900 bg-opacity-90 flex items-center justify-center z-50 "
>
  <div class="text-center">
    <div class="orbit mx-auto">
      <div class="ring ring-1"></div>
      <div class="ring ring-2"></div>
      <div class="ring ring-3"></div>
      <div class="center-sphere"></div>
      <div class="satellite sat-1"></div>
      <div class="satellite sat-2"></div>
      <div class="satellite sat-3"></div>
    </div>
    <br />
    <br />
    <br />
    <div class="progress-container mx-auto fade-in delayed-1">
      <div class="progress-track">
        <div class="progress-bar" [style.width]="progress + '%'"></div>
      </div>
      <div class="text-right mt-2 text-sm text-gray-400">{{ progress }}%</div>
    </div>

    <div
      *ngIf="!isFirstLoad"
      class="text-sm text-gray-400 mt-6 fade-in delayed-2 dismiss-hint"
    >
      <i class="fas fa-keyboard mr-2 text-blue-400"></i>
      <span>Click to dismiss</span>
    </div>
  </div>
</div>
