.aspect-video {
  height: 250px; /* Or any other fixed height */
}

.aspect-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.technology-badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  /* color: #ffffff; */
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.technology-badge:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
